@using Microsoft.AspNetCore.Identity
@using MoviePro.Enums
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        @if (@User.IsInRole(Role.Administrator.ToString()))
        {
            <a  class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello Jonathan!</a>
        }
        else
        {
            <a class="nav-link">Hello Demo Admin!</a>
        }

    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <div class="align-middle">
                <button  type="submit" class="nav-link btn btn-link btn-logout" style="vertical-align:middle">Logout</button>
            </div>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
@*        <a class="nav-link text-light" data-toggle="modal" data-target="#login">Login</a>*@
    </li>
}
</ul>
