@using MoviePro.Models.Database
@using MoviePro.Services.Interfaces

@inject IImageService _imageService
@inject IRemoteMovieService _tmdbMovieService;

@*@model Movie*@

<style>
    .twitter-typeahead{
        width: 85%;
    }
    .tt-hint {
        color: #999 !important;
    }
    .tt-menu {
      color: #fff;
      /*padding: 0 40px 0 20px;*/
      width: 100%;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      border-radius: 4px;
      outline: none !important;
      transition: 0.4s ease;
    }
    .tt-dataset {
        width: 100%;
        border: none;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0 5px 25px 0 rgba(0,0,0,0.3);
        background-color: #1f2532;
        padding: 15px 0;
    }
    .tt-suggestion {
        padding: 3px 20px;
        font-size: 18px;
        line-height: 24px;
        color: #999 !important;
    }
    .tt-suggestion:hover {
        cursor: pointer;
        color: #fff !important;
        background-color: #f0326b;
        border-color: #ff55a5;
    }
    .tt-suggestion.tt-cursor {
        color: #fff !important;
        background-color: #f0326b;
    }
    .tt-suggestion strong {
        color: #fff;
    }
    .tt-suggestion p + strong {
        margin: 0;
    }
    .custom-search{
        border-radius: 4px 0px 0px 4px !important;
        justify-content:center !important;
    }
</style>


<div class="row justify-content-center">
    <div class="col-12">
        <h2 class="text-light text-center">Discover & Import Movies</h2>
    </div>
    <div class="col-12">
        <hr class="hr-blue" />
    </div>
    <div class="col-sm-12 col-md-8 col-lg-6">
        <form asp-action="Import">
            <div class="input-group" id="movieSearch">
                <input type="hidden" id="movie-id" name="id" value="0" />
                <input type="text" class="form-control custom-search text-search typeahead" placeholder="Search TMDB for a movie">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Import</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12">
        <hr class="hr-blue" />  
    </div>

</div>


@section Scripts {
    <script>
        let query = '@_tmdbMovieService.GenerateSearchRequestUri()';
        query = query.replace(/amp;/g, "").replace("%25SEARCH", "%SEARCH");
    </script>

    <script src="~/lib/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="~/js/custom.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}