.card-body {
    background-color: rgba(31, 37, 50,1);
}

.carousel-inner {
    opacity: 0.75;
}

.card-img-top {
    /*border-radius: 0.5rem !important;*/
}

.card {
    border: 0;
}

.card-body-static {
    background-color: rgba(31, 37, 50,0.75);
}

.carousel-control-prev {
    margin-bottom: 100px;
    margin-left:-50px;
}

.carousel-control-next {
    margin-bottom: 100px;
    margin-right: -50px;
}


.hr-blue {
    height: 1px !important;
    background-color: #007bff !important;
}

.hr-div {
    padding-left: 0 !important;
    padding-right: 0!important;
}

.library-titles {
    color: #007bff;
}

.text-bg {
    background-color: rgba(31, 37, 50,0.75);
}

.table {
    color: lightgray;
    background-color: rgba(31, 37, 50,0.75);
}

    .table td {
        border-top: 1px solid #007bff !important;
    }
