/*html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: linear-gradient(rgba(0, 25, 100, 0.25), rgba(25, 0, 55, 0.9)), url(/img/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

darker-bg {

}
*/